//Variables colores

$color-primario: #F0F2F5;
$color-secundario:rgb(13, 46, 68);
$color-complementario: #fff;
$color-texto-h1: #050505;
$color-texto-h2: rgba(156, 174, 175, 0.973);
$color-texto-secundario:#65676B;
$espaciado-estandar: 10px;
$espaciado-doble: 20px;
$color-secu:rgb(240, 42, 20);

$fuente-normal: 1em;
$fuente-pequena: 1em;
$fuente-grande: 1.4em;

$tipografia-general: arial, verdana, sans-serif;
$tipografia-alternativa: 'Times New Roman', Times, serif;

