
<div *ngFor="let item of publicacionesArray" class="d-flex pb-3 justify-content-center">
  <div class="card card-publicaciones ">
    <div class="card-header ">
      <div class="d-flex">
          <div class="div-img-header">
              <a [routerLink]="['../perfilEcologico',item._iduser]">
                <img src="{{item.imguser}}" class="img-publicacion-user" alt="imagenPublicacion">
              </a>
          </div>
          <div class="div-text-header">
            <p class="text-name"><a class="linknombre" [routerLink]="['../perfilEcologico',item._iduser]"><strong>{{item.nombres}} {{item.apellidos}}</strong> </a> </p>  
            <p class="text-date">{{convertirFecha(item.fecha)}}</p>
        </div>
      </div>
    </div>
   
    <div class="card-body" >
      
      <div class="d-flex flex-column" style="flex: 2;justify-content:center">
        <p class="card-text"><strong>{{item.descripcion}}</strong></p>
        <hr width="100%">
        <p class="card-text"><fa-icon [icon]="faCalculator" ></fa-icon> Cantidad: {{item.cantidad}} KG</p>
        <p class="card-text">  <fa-icon [icon]="faMapMarkerAlt" ></fa-icon> Dirección: {{item.direccion}}</p>
      </div>
      <div class="d-flex" style="flex: 2" >
        <a [routerLink]="['../publicacion',item._id]">
          <img class="img-fluid" src="{{item.img}}" style="border-radius: 5px;" alt="Card image cap">
        </a>
        </div>
    </div>

    <div class="card-footer"  *ngIf="usuarioLogueado._id!==item._iduser">
      <button
      
     class="button-publicaciones mensaje"
     data-toggle="modal"
     data-target="#modalMensaje"
     (click)="setIdReceptor(item._iduser)"
   >
     <fa-icon [icon]="faSms" class="icon icon-enviar"></fa-icon>
     Enviar Mensaje
   </button>
   <button
   (click)="postular(item.descripcion,usuarioLogueado._id,item._id,item._iduser)"
  class="button-publicaciones postulacion"
>
  <fa-icon [icon]="faEdit" class="icon"></fa-icon>
  Postular
</button>
    </div>

  </div>
</div>

<app-sms
[idReceptor]="idUsuarioPublicacion">

</app-sms>

     

