
<div *ngFor="let item of publicacionesArray" class="d-flex pb-3 justify-content-center">
  <div class="card card-publicaciones ">
    <div class="card-header " >
      <div class="d-flex">
          <div class="div-img-header">
              <a [routerLink]="['../perfilEcologico',item._iduser]">
                <img src="{{item.imguser}}" class="img-publicacion-user" alt="imagenPublicacion">
              </a>
          </div>
          <div class="div-text-header">
            <p class="text-name"><a class="linknombre" [routerLink]="['../perfilEcologico',item._iduser]"><strong>{{item.nombres}} {{item.apellidos}}</strong> </a> </p>  
            <p class="text-date">{{convertirFecha(item.fecha)}}</p>
        </div>
      </div>
    </div>
   <img class="img-fluid" src="{{item.img}}"  alt="Card image cap">
    <div class="card-body">
      
      <p class="card-text">{{item.descripcion}}</p>
      <p class="card-text"><Strong>Cantidad: </Strong>{{item.cantidad}} KG</p>
      <p class="card-text"><Strong>Dirección: </Strong>{{item.direccion}}</p>
    </div>

    <div class="card-footer"  *ngIf="usuarioLogueado._id!==item._iduser">
      <button
      
     class="button-publicaciones mensaje"
     data-toggle="modal"
     data-target="#modalMensaje"
     (click)="setIdReceptor(item._iduser)"
   >
     <fa-icon [icon]="faSms" class="icon icon-enviar"></fa-icon>
     Enviar Mensaje
   </button>
   <button
   (click)="postular(item.descripcion,usuarioLogueado._id,item._id,item._iduser)"
  class="button-publicaciones postulacion"
>
  <fa-icon [icon]="faEdit" class="icon"></fa-icon>
  Postular
</button>
    </div>

  </div>
</div>
<app-sms
[idReceptor]="idUsuarioPublicacion">

</app-sms>

     

