<section class="header-presentacion" id="Inicio">
  <div class="container">
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark">
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav nav-presentacion">
            <li class="nav-item">
              <a class="nav-links" href="#Inicio"
                >Inicio <span class="sr-only">(current)</span></a
              >
            </li>
            <li class="nav-item">
              <a class="nav-links" href="#Reciclar">Reciclar</a>
            </li>

            <li class="nav-item">
              <a class="nav-links" href="#Recolectar"> Recolectar</a>
            </li>
          </ul>
          <div class="contenedor-link-login">
            <a [routerLink]="['/login']" class="link-login"
            >Iniciar Sesión</a>
          </div>
         
        </div>
      </nav>

      <div class="parrafo-texto-header" >
        <img
          src="../../../assets/img/reciclar.png"
          width="92em"
          height="92em"
          alt="Reciclamos"
        />
        <h1>Reciclamos</h1>
        <h2>
          La plataforma en la que podrás publicar lo que deseas reciclar y
          encontrar a la persona que recoja tus productos destinados para el
          reciclaje
        </h2>
      </div>
      <div class="fixes-ancla-inicio">
        <a href="#Inicio"
          ><fa-icon
            [icon]="faChevronCircleUp"
            class="icon-presentacion"
          ></fa-icon
        ></a>
      </div>
    </header>
  </div>
</section>

<section class="reciclar-presentacion" id="Reciclar">
  <div class="container" [@scrollAnimation]="state">
    <div class="reciclar-flex" >
      <div class="d-flex flex-column reciclar-div" >
        <p style="text-align: center; font-size: 2em; color: rgb(30, 44, 62);font-weight: bold">
          ¿Tienes objetos que quieras reciclar?
        </p>
        <p
          style="font-size: 1.5em; text-align: justify; color: rgb(48, 69, 97)"
        >
          Utiliza nuestra funciónalidad para realizar una publicación, podrás
          gestionar todas tus publicaciones y también, tienes la opción de
          elejir a la persona que tu quieras para la recolección de los residuos
          en tu domicilio o lugar de trabajo.
        </p>
      </div>
      <div class="d-flex reciclar-img" >
        <img
          class="img-fluid"
          src="../../../assets/img/publicacion.png"
          alt=""
        />
      </div>
    </div>
  </div>
</section>

<section class="recolectar-presentacion" id="Recolectar" >
  <div class="container" [@scrollAnimationdos]="state">
    <div class="reciclar-flex" >
      <div class="d-flex reciclar-div" >
        <img
          class="img-fluid"
          src="../../../assets/img/postulaciones.png"
          alt=""
        />
      </div>
      <div class="d-flex flex-column reciclar-img">
        <p
          style="text-align: center; font-size: 2em; color: rgb(255, 255, 255);font-weight: bold;"
        >
          ¿Deseas ser un recolector de residuos?
        </p>
        <p
          style="
            font-size: 1.5em;
            text-align: justify;
            color: rgb(188, 210, 238);
          "
        >
          Nuestro sistema te permite postular a las publicaciones de reciclaje
          que realizan los usuarios, tendrás la opción de comunicarte mediante
          el chat en tiempo real y un sistema de notificaciones que te mantedrá
          al tanto de las actividades que estes inmerso.
        </p>
      </div>
    </div>
  </div>
</section>
<section class="footer-presentacion">
<div class="container" >
    <div style="display: flex;justify-content: center;align-items: center;width: 100%;height:70px;">
        <p style="color: #fff ;text-align: center"> © 2021 Reciclamos </p>
    </div>
</div>
</section>
