<div class="card">
  <div class="card-header">
    <strong>{{ usuarioPerfil.nombres }} {{ usuarioPerfil.apellidos }}</strong>
  </div>
  <div class="card-body" style="display: flex; justify-content: center">
    <img
      src="{{ usuarioPerfil.img }}"
      style="width: 200px; height: 200px; border-radius: 9999px"
      alt=""
    />
  </div>
  <div class="card-body">
    <p><strong>Correo: </strong>{{ usuarioPerfil.correo }}</p>
    <p><strong>Dirección: </strong>{{ usuarioPerfil.direccion }}</p>
    <p><strong>Telefóno: </strong>{{ usuarioPerfil.telefono }}</p>
  
      <button
      
      class="button-publicaciones mensaje"
      data-toggle="modal"
      data-target="#modalMensaje"
      (click)="setIdReceptor(usuarioPerfil._id)"
    >
      <fa-icon [icon]="faSms" class="icon icon-enviar"></fa-icon>
      Enviar Mensaje
    </button>
  </div>
</div>
<div class="card mt-3">
  <div class="card-header">
    <strong>Publicaciones</strong>
  </div>
  <div class="card-body" >
    <div
    class="graficos"
      
    >
      <div class="d-flex flex-column">
        <p class="text-date">
          Publicaciones Asignadas: {{ publicacionesAsignadas }}
        </p>
        <p class="text-date">
          Publicaciones Pendientes: {{ publicacionesPendientes }}
        </p>
      </div>
      <div style="display: flex">
        <div class="chart" >
          <canvas
          baseChart
          [data]="pieChartData"
          [labels]="pieChartLabels"
          [chartType]="pieChartType"
          [colors]="pieChartColors"
        >
        </canvas>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card mt-3">
  <div class="card-header">
    <strong>Recolecciones</strong>
  </div>

  <div class="card-body" >
    <div
      class="graficos"
    >
      <div class="d-flex flex-column">
        <p class="text-date">
          Postulaciones Asignadas: {{ postulacionesAsignadas }}
        </p>

        <p class="text-date">
          Postulaciones Pendientes: {{ postulacionesPendientes }}
        </p>
      </div>
      <div style="display: flex">
        <div class="chart">
          <canvas
            baseChart
            [data]="pieChartData2"
            [labels]="pieChartLabels2"
            [chartType]="pieChartType"
            [colors]="pieChartColors2"
          >
          </canvas>
        </div>
      </div>
    </div>
  </div>
</div>
<app-sms
[idReceptor]="idUsuarioPublicacion">

</app-sms>